<div class="wechat">
    <!-- 微信公众号 start -->
    <img src="https://diycode.b0.upaiyun.com/photo/2017/a3fc893f2cf4d4ab33ac32666d00a793.jpg" alt="技术视界" height="250" width="100%" >
    <!-- 微信公众号 end -->
</div>